/app/config/local
/app/config/dev
/app/config/stage
/app/config/production
/app/config/packages/artdarek/oauth-4-laravel/production/*
/app/config/packages/artdarek/oauth-4-laravel/dev/*
/app/config/packages/artdarek/oauth-4-laravel/stage/*
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store